/* ---- Add to the list ---- */
.container-add-to-the-list {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: hsla(0deg, 0%, 0%, 0.25);
    visibility: hidden;
}

.container-add-to-the-list--show {
    overflow-y: auto;
    visibility: visible;
}

.add-to-the-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 5rem;
    border-start-start-radius: 25vw;
    border-start-end-radius: 25vw;
    padding-block: 40px 16px;
    padding-inline: 20px;
    background-color: var(--white);
    transition: 0.3s ease;
    transform: translateY(calc(100% - 5rem));
}

@media (min-width: 420px) {
    .add-to-the-list {
        border-start-start-radius: 25%;
        border-start-end-radius: 25%;
    }
}

.container-add-to-the-list--show .add-to-the-list {
    transform: translateY(0);
}

.add-to-the-list-show {
    position: absolute;
    inset-block-start: calc(-10px - 1.5rem);
    inset-inline-start: calc(50% - (10px + 1.5rem));
    border-radius: 50%;
    padding: 10px;
    inline-size: 3rem;
    block-size: 3rem;
    color: var(--white);
    background: linear-gradient(
        135deg,
        hsl(320deg 81% 66%) 0%,
        hsl(320deg 81% 49%) 100%
    );
    box-shadow: 0 3px 15px 0 hsl(320deg 81% 70%);
    visibility: visible;
}

.add-to-the-list-show__icon {
    transition: 0.5s ease;
}

.container-add-to-the-list--show .add-to-the-list-show__icon {
    transform: rotateZ(315deg);
}

.add-to-the-list__title {
    margin-block-end: 9px;
    margin-inline: auto;
    font-size: 1.5rem;
}

.add-to-the-list__input {
    box-sizing: border-box;
    border-radius: 6px;
    padding-inline: 8px;
    inline-size: 100%;
    block-size: 32px;
    font-size: 1.9rem;
}

.container-add-to-the-list--show .add-to-the-list__input {
    visibility: visible;
}

.quantity {
    display: grid;
    grid-template-columns: auto minmax(0, 20rem);
    column-gap: 8px;
    margin-block: 40px;
}

.quantity__title {
    margin-block-end: 1.6rem;
    font-size: 1.5rem;
    color: hsl(0deg 0% 21%);
}

.quantity__input {
    border: 1px solid hsl(0deg 0% 70%);
    border-radius: 8px;
    padding-inline: 8px;
    font-weight: 500;
    color: hsl(0deg 0% 20%);
    box-sizing: border-box;
}

.quantity__input:first-of-type {
    inline-size: 4.3rem;
    block-size: 4.3rem;
    text-align: center;
}

.add-to-the-list__btn {
    margin-inline: auto;
    border-radius: 6px;
    padding-block: 15px;
    inline-size: 100%;
    max-inline-size: 250px;
    font-weight: 500;
    color: var(--white);
    background: linear-gradient(
        45deg,
        hsl(214deg 100% 75%) 0%,
        hsl(222deg 74% 64%) 100%
    );
    box-shadow: 0 3px 5px 0 hsl(222deg 74% 64%);
}
