/* ---- Add to the list ---- */
.container-add-to-the-list {
    position: fixed;
    inset-block: 0;
    inset-inline: 0;
    background-color: hsla(0deg, 0%, 0%, 0.25);
    visibility: hidden;
}

.container-add-to-the-list--show {
    visibility: visible;
}

.add-to-the-list {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-start-start-radius: 30%;
    border-start-end-radius: 30%;
    padding-block: 40px 16px;
    padding-inline: 20px;
    background-color: var(--white);
    transition: 0.3s ease;
    transform: translateY(calc(100% - 45px));
}

.add-to-the-list--show {
    transform: translateY(0);
}

.add-to-the-list__show {
    position: absolute;
    inset-block-start: -25px;
    inset-inline-start: calc(50% - 25px);
    border-radius: 50%;
    inline-size: 50px;
    block-size: 50px;
    color: var(--white);
    background-color: hsl(320deg 81% 55%);
    box-shadow: 0 3px 15px 0 hsl(320deg 81% 70%);
    visibility: visible;
}

.add-to-the-list__title {
    margin-block-end: 9px;
    margin-inline: auto;
    font-size: 1.5rem;
}

.add-to-the-list__input {
    box-sizing: border-box;
    border-radius: 6px;
    padding-inline-start: 8px;
    inline-size: 100%;
    block-size: 32px;
    font-size: 1.9rem;
    visibility: visible;
}

.categories {
    margin-block-start: 20px;
    border-block: 1px solid hsl(0deg 0% 70%);
    padding-block: 16px;
    inline-size: 100%;
}

.add-to-the-list__btn {
    margin-block-start: 40px;
    margin-inline: auto;
    border-radius: 6px;
    padding-block: 15px;
    inline-size: 100%;
    max-inline-size: 250px;
    font-weight: 500;
    color: var(--white);
    background-color: hsl(222deg 73% 64%);
}
