/* ---- Add to the list ---- */
.container-add-to-the-list {
    grid-column: 1/-1;
}

.add-to-the-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.add-to-the-list__input {
    box-sizing: border-box;
    border-radius: 6px;
    padding-inline-start: 8px;
    inline-size: 100%;
    block-size: 32px;
}

.add-to-the-list__btn {
    border-radius: 6px;
    padding-block: 6px;
    padding-inline: 16px;
    background-color: var(--white);
}

@media (min-width: 255px) {
    .add-to-the-list {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        align-items: stretch;
        column-gap: 3px;
        block-size: 36px;
    }

    .add-to-the-list__input {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
        block-size: auto;
    }

    .add-to-the-list__btn {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}
