/* ---- Reset CSS ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    border: 0;
    box-sizing: content-box;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

svg {
    inline-size: 100%;
    block-size: 100%;
    fill: currentColor;
}

button {
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- Global ---- */
:root {
    --white: hsl(0deg 0% 100%);
    --page-color: var(--white);
    --ink-color: hsl(0deg 0% 20%);
    --nav-height: 5rem;
    --nav-btn-color: hsl(0deg 0% 40%);
    --nav-btn-checked-color: hsl(222 74% 58%);
    --item-category-color: hsl(0deg 0% 35%);
    --list-item-secundary-color: hsl(207deg 60% 58%);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --page-color: hsl(0deg 0% 20%);
        --ink-color: var(--white);
        --nav-btn-color: hsl(0 0% 76%);
        --nav-btn-checked-color: hsl(222 74% 82%);
        --item-category-color: hsl(0deg 0% 70%);
    }
} */

html {
    font-size: clamp(0.6rem, 0.425rem + 1vw, 1rem);
    font-family: Roboto, sans-serif;
    /* color-scheme: light dark; */
}

body {
    margin-block-end: var(--nav-height);
    font-size: 1.6rem;
    color: var(--ink-color);
    background-color: var(--page-color);
}
