/* ---- Item Category ---- */
.item-category {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.item-category__input {
    position: absolute;
    inset: 0.5px;
    z-index: -1;
}

.item-category__name {
    border-radius: 8px;
    padding-block: 7px;
    padding-inline: 10px;
    color: var(--item-category-color);
    background-color: var(--page-color);
}

.item-category__input:checked + .item-category__name {
    color: var(--white);
    background-color: hsl(185deg 42% 53%);
}

.item-category__name::before {
    display: inline-block;
    content: '';
    margin-inline-end: 5px;
    border-radius: 50%;
    inline-size: 13px;
    block-size: 13px;
    background-color: hsl(185deg 42% 53%);
}

.item-category__input:checked + .item-category__name::before {
    display: none;
}
