/* ---- List ---- */
.list {
    display: grid;
    gap: 16px;
    padding-block: 20px;
    padding-inline: 12px;
}

@media (min-width: 320px) {
    .list {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        padding-inline: 20px;
    }
}
