/* --- Nav ---- */
.nav {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
    z-index: 1;
    background-color: var(--page-color);
    box-shadow: 0 0 4px 0 hsl(0deg, 0%, 80%);
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 13rem));
    justify-content: space-around;
    align-items: center;
    column-gap: 66px;
}

.nav-list-item {
    position: relative;
}

.nav-list-item__input {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.nav-list-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    padding-block: 4px;
    padding-inline: 8px;
    inline-size: 100%;
    block-size: var(--nav-height);
    color: var(--nav-btn-color);
    background-color: var(--page-color);
    box-sizing: border-box;
}

.nav-list-item__input:checked + .nav-list-btn {
    color: var(--nav-btn-checked-color);
}

li:first-child .nav-list-btn {
    padding-inline-end: 4px;
}

li:last-child .nav-list-btn {
    padding-inline-start: 4px;
}

.nav-list-btn__icon {
    display: none;
    max-inline-size: 32px;
    max-block-size: 32px;
}

.nav-list-btn__text {
    text-align: center;
}

@media (min-width: 286px) {
    .nav-list-btn__icon {
        display: inline-block;
    }

    .nav-list-btn__text {
        font-size: 1.3rem;
    }
}
