.quantity {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: auto minmax(0, 20rem);
    column-gap: 8px;
    margin-block: 40px;
}

.quantity__title {
    margin-block-end: 1.6rem;
    font-size: 1.5rem;
    color: hsl(0deg 0% 21%);
}

.quantity__input {
    border: 1px solid hsl(0deg 0% 70%);
    border-radius: 8px;
    padding-inline: 8px;
    font-weight: 500;
    color: hsl(0deg 0% 20%);
    box-sizing: border-box;
}

.quantity__input:first-of-type {
    inline-size: 4.3rem;
    block-size: 4.3rem;
    text-align: center;
}
